# All available env variables are listed here
# ...Except NODE_ENV - This will be set by the Dockerfile or the test script

# If a variable is commented out in this file, then it is optional
#  and the optional variables should have their default listed
#  However, always confirm the default value in the file: src/config.ts

# All variables that are not commented out are required :)

# ###### #
# SERVER #
# ###### #
# SERVER_PORT=3344
# Log level is only applied in production mode, in development logs will always be debug level
# LOG_LEVEL=info
# NODE_ENV=development
# TEST_MODE=false

# ##### #
# KAFKA #
# ##### #
KAFKA_BROKER=
# KAFKA_CLIENT_ID=indexer
# KAFKA_NAMESPACE=indexer


# ### SONG Consumer
# KAFKA_TOPIC_SONG=song_analysis
# KAFKA_CONSUMER_SONG_GROUP=song_analysis
# KAFKA_CONSUMER_SONG_DLQ=true
# KAFKA_CONSUMER_SONG_HEARTBEAT_INTERVAL=

# ######## #
# POSTGRES #
# ######## #
PG_HOST=
PG_PORT=
PG_USER=
PG_PASS=
PG_DB=
#PG_TIMEOUT_MS=30000
#PG_IDLE_TIMEOUT_MS=null

# ### #
# Ego #
# ### #
EGO_HOST=
EGO_CLIENT_ID=
EGO_CLIENT_SECRET=

# #### #
# Song #
# #### #
SONG_HOST=
SONG_ENV=
SONG_CONCURRENT_REQUESTS=
SONG_PAGE_SIZE=